<!DOCTYPE html>
<html>

<head>
    <title>U.I.E.T</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/aim.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-sm navbar-light fixed-top py-2 m-2 navigationBar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav m-auto  navigationBarItems">
                <li class="nav-item active mr-2">
                    <a class="nav-link" href="/"><i class='fas fa-home'></i> Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/aim"><i class='fas fa-tasks'></i> Objective </a>
                </li>
                <li class="nav-item active ml-2">
                    <a class="nav-link" href="/contact"><i class='fas fa-comment-dots'></i> Contact Us </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /Navigation Bar -->

    <!-- Welcome Image -->
    <section class="aim">
        <div class="aim-image">
            <div class="aim-header aim-width">
                <h2>Objective</h2>
                <!-- <div class="aim-line"></div> -->
            </div>
        </div>
    </section>
    <!-- /Welcome Image -->


    <!-- IIT/JEE Cards -->
    <div class="jee-neet-container">
        <div class="jee-neet aim-padding">
            <p class="jee-neet-heading">This website was made to faciliatate the process of counselling that takes place
                for JEE and NEET every year nationwide as well as locally, relative to different states . To make the
                process easier for student , we have gathered all the information needed during the process i.e the
                counselling details and thier official links to ease out the process of their admission . </p>
        </div>
    </div>
    <!-- /IIT/JEE Cards -->
    <!-- Footer -->
    <div class="footer">
        <p>Copyright & Copy; 2025-www.Student-Counselling-Notes.com-All rights reserved</p>
    </div>
    <!-- /Footer -->
</body>

</html>
