* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    /* display:flex;
    align-items: center;
    justify-content: center; */
    perspective: 1000px;
}

/****************/
/*NAVIGATION BAR*/
/****************/

.navigationBar {
    border-radius: 10px;
    background-color: rgba(161, 63, 112, 0.0) !important;
    /*border:3px solid rgba(108,196,190,1);*/
}

li a {
    /* color:rgba(253, 98, 175,1) !important;*/
    color: white !important;
    font-size: 20px;
    transition: all .1s ease-in-out;
}

li a:hover {
    color: white !important;
    /* box-shadow: 1px 1px 2px 0 #888888;*/
    transform: scale(1.1);
    border-radius: 10px;
}
/*****************/
/*/NAVIGATION BAR*/
/*****************/

/***************/
/*IIT/JEE Cards*/
/***************/
.jee-neet-container {
    background: white;
    display: flex;
    justify-content: center;
    height: 500px;
}


.jee-neet {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 95vw;
    height: inherit;
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
    position: absolute;
    inset: 620px 2vw 0 2vw;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.jee-neet-heading {
    margin: 0 auto;
    padding: 2rem;
    letter-spacing: .1em; 
    height: 100%;
    width: 100%;
    margin: 0 0 50px 0px;
    font-size: 40px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  /*to { width: 100% }*/
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  100% { border-color: orange; }
}

.cards-jee-neet {
    width: 80vw;
    margin: 0 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-jee-neet {
    display: flex;
    flex-direction: column;
    background: white;
    transform-style: preserve-3d;
    height: 550px;
    width: 400px;
    border-radius: 30px;
    margin: 0 30px 0 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.aim-padding{
     padding: 40px 0px 40px 0px;
}

/****************/
/*/IIT/JEE Cards*/
/****************/

/********/
/*Footer*/
/********/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-fix{
     margin-top: 35rem;
}

.footer p {
    height: 5vh;
    width: 95vw;
    /*background: grey;*/
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: black;
}

/*********/
/*/Footer*/
/*********/

/*********/
/*Aim Changes*/
/*********/

.aim{
    height: 40rem;
    width: 100vw;
}

.aim-image{
    background-image: url("../images/home/Aim.jpeg");
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image{
    background-image: url("../images/home/Aim.jpeg");
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aim-header{
    color: white;
    text-transform: capitalize;
    position: relative;
    width: 260px;
    height: 150px;
}

.contact-color{
    color: black;
}


.aim-width{
    width: 720px;
}

.aim-width{
    left: 58px;
}

.contact-width{
     width: 754px;
}

.aim-header h2{
    font-size: 150px;
    animation: aim-movement 1s ease-out ;
    position: absolute;
    top: 0;
    left: 0;
}

.aim-line{
    height: 2px;
    background-color: white;
    margin-top: 10rem;
    width: 100%;
}
@keyframes aim-movement {
    0%{
        opacity: 0;
        top : 140px
    }
    25%{
        opacity: 0.3;
        top: 100px
    }
    60%{
        opacity: 0.5;
        top : 50px;
    }

    75%{
        opacity: 0.7;
        top: 25px;
    }
    100%{
        opacity: 1;
        top:0px;
    }
}

/* contact  */

/* .contact-form{
    display: flex;
    width: 40%;
    margin :0 auto;
    flex-direction: column;
}

/* .contact-form-label{
    height:30px;
    color: black;
} */

/* .contact-form-label{
    font-size: 40px;
} */

/* .contact-form-input{
    border:none;
    border-bottom: 2px solid black;
    outline: none;
    padding: 0 0 10px 10px;
} */ 

div.right {
	background-color: black;
	background-color: white;
	/*background-color: #FFBB17;*/
	color: black;
	/* padding: 80px 0 0 80px; */
	/*font-size: 100px;*/
}

div.right p {
	margin: 0 0 0 0;
	padding: 0px 150px 0 0;
	font-size: 36px;
    font-weight: 400;
    letter-spacing: .1em; 
}

div.right h1 {
	margin: 0px 0 0 0;
	margin-bottom: 0;
	font-size: 60px;
    font-weight: bold;
}

/*INPUT FIELDS*/
/**************/

div.fill {
	padding: 30px 0 0 0;
}

div.right input {
	padding: 10px 0 10px 10px;
	outline: none;
	border: none;
	border-bottom: 3px solid black;
	background: white;
	width: 80%;
	font-size: 20px;
}

.contact-query{
	margin: 15px 0 0 0;
    border: none;
    outline: none;
    border-bottom: 3px solid black;
}

input::placeholder {
	color: black;
}

textarea::placeholder{
    color: black;
    padding: 10px 0 10px 10px;
    font-size:20px
}

/*LOGIN BUTTON*/
/**************/

.contact-btn {
	margin: 30px 20px 0 0;
	padding: 10px 30px 10px 30px;
	background-color: #000;
    color:white;
    border-radius:25px;
	/*background-color: #0afc47;*/
}

/*shadow*/

.contact-btn {
box-shadow: 1px 1px 20px -10px rgba(40,40,40,0.75);
}

.contact-btn:hover{
    color:white !important;
}
/*input field animation */


.contact-margin{
    margin: 15px 0 0 0;
}
